{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home.css' %}"/>

{% endblock style %}


{% block main %}

<div class="outer-wrapper">
    <div class="heroPage">
        <div>João Eleutério<br>
            <div><p style="font-size:30%;">Engenharia Informática</p></div>
        </div>
    </div>
    <div class="parallax"></div>
    <div class="FalarSobreMim">
        <article>
            <p>-Comecei por tirar o curso Engenharia informática e por seguir este ramo porque desde cedo comecei a ter
                um especial interesse em aprender mais sobre tecnologia e o mundo dos jogos. Depois de começar este
                curso e de ter feito um curso de técnico de gestão e programação de sistemas informáticos, percebi que o
                que queria desenvolver nos meus estudos e seguir, era, realmente, Inteligência artificial ou o campo de
                desenvolvimento de jogos.<br><br>-No curso em que me encontro, a cadeira que me mais me interessa e mais
                me
                fascina é a de Computação Gráfica, pois apresenta componentes que fazem parte de uma das áreas que mais
                gosto - Inteligência Artificial.<br><br>-Depois de o meu objetivo de acabar o curso e fazer um mestrado
                em
                Inteligência artificial, tenho como grande ambição trabalhar nesse ramo e/ou desenvolver projetos de
                jogos.<br><br>-Com isto, os meus hobbies são, muito sucintamente, jogar videojogos, ler sobre temas que
                me
                ofereçam informação importante para a área em que estou e, ainda, programação.</p></article>
    </div>
    <div class="parallax"></div>
      <div class="SobreMim">
        <div>
            <article><br><h2 id="SobreMim">Sobre Mim</h2><br><br>
                <p>Na aba "Sobre mim" o espectador do site poderá encontrar vários temas - Licenciatura, formação,
                    certificados e outros.<br><br>
                    - Na "Licenciatura" eu optei por mostrar quais são as cadeiras que existem no curso de
                    Engenharia
                    Informática ao longo dos 3 anos académicos. Estão expostos os professores responsáveis pelas
                    mesmas e, ainda, os projetos que realizei.<br><br>
                    - Em "Formação" apresento todo o meu percurso académico até à data. Ou seja, todas as escolas e
                    cursos que eu já frequentei para que pudesse alcançar o objetivo de entrar na faculdade, para o
                    curso de Engenharia Informática.<br><br>
                    - Nos "Certificados" tenho todos os documentos que recebi em
                    cursos que tirei na escola e, até mesmo, na internet.<br><br>
                    - Ainda e, por último, em "Mais sobre mim" tenho uma página que revela a minha média, os cursos
                    que realizei, todas as tecnologias em que sei trabalhar, os idiomas que consigo falar e, os meus
                    hobbies , interesses pessoais e competências sociais.</p>
            </article>

        </div>
    </div>
   <div class="parallax1"></div>
    <div class="projetos">
        <article><br><h2 id="projetos">Projetos</h2><br><br>
            <p>Na aba "Projetos" estão todos os projetos que eu desenvolvi e criei tanto a nível pedagógico, como
                por interesse pessoal, em busca da crescimento profissional e competêncial dentro da área.<br><br>
                Tambem estão dispostos Trabalhos Finais de Curso dos anos 2020,2021 e também criado pelos utilizadores
                que fizerem login.</p>
        </article>
    </div>
  <div class="parallax1"></div>
    <div class="web">
        <article> <br><h2 id="web">Web</h2><br><br>
            <p>A aba "Web" é uma aba com diversos temas - tecnologias, laboratórios, diagramas, Api's, notícias e,
                por fim, um quizz sobre toda a informação que diz respeito às tecnologias usadas para o
                desenvolvimento deste site/portefólio.<br><br>
                - Como primeiro tema, apresento todas as tecnologias que eu utilizei para fazer este portefólio
                (html, css, django, javascript, heroku e python) e as suas respetivas funcionalidades e
                características.<br><br>
                - Os "Laboratórios" era feitos através de pequenas fichas e questionários sobre a matéria que ia ser
                executada neste projeto, que é o site.<br><br>
                - Ainda, em "Web", pode se ver um diagrama que representa toda a base de dados do portefólio feita
                para obter este produto final. Porém, só está disponível aos utilizadores que façam login.<br><br>
                - Os "Api's" são um elemento adicional para complementar o site. Informações gerais tais como a
                meteorologia. E, para quem é mais curioso, ainda é possível obter curiosidades aleatórias. Porém,
                mais uma vez, só é possível aceder ao dito, quem tenha feito login.<br><br>
                - Existe uma aba feita para submeter notícias que nos permitam estar atualizados sobre o mundo à
                nossa volta e, ainda, desenvolver o nosso conhecimento geral sobre os mesmos.<br><br>
                - Por último, existe um quizz sobre algumas das tecnologias usadas para a execução deste portefólio.
                Tenta a tua sorte e testa os teus conhecimentos!</p>
        </article>
    </div>
  <div class="parallax1"></div>
    <div id="blog" class="blog"><br>
        <article> <br><h2>Blog</h2><br><br>
            <p>O Blog é um sítio deste portfólio que é aberto a qualquer utilizador.
                Qualquer pessoa pode publicar um comentário e/ou uma questão. Pois, esta parte tem como objetivo a
                interação do público a todos os meus projetos e informações.
                Assim, todos podem participar, dar a opinião, comentar, tudo isto para o meu desenvolvimento pessoal
                e profissional. <br><br>

                Para fazer um post, é só clicar em "+ Novo Post" à direita e apenas escrever. </p>
        </article>
    </div>
    <br>
</div>

{% endblock main %}