{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home.css' %}"/>

{% endblock style %}


{% block main %}

<div class="outer-wrapper">
    <div class="heroPage">
        <div>João Eleutério<br>
            <div><p style="font-size:30%;">Engenharia Informática</p></div>
        </div>
    </div>
    <div class="parallax"></div>
    <div class="FalarSobreMim">
        <article>
            <p>Sou um jovem de 20 anos estudante Universitário.  <br>
- Conclui um curso profissional no INETE nível IV - Técnico de Gestão e programação de Sistemas Informáticos; <br>
- Frequência de uma formação na ANPRI - Introdução do desenvolvimento de jogos em Unity 3D; <br>
- Atualmente a frequentar a licenciatura na Universidade Lusófona - Engenharia Informática.</p></article>
    </div>
    <div class="parallax"></div>

    <div class="contain">
        <div class="SobreMim">
            <div>
                <article><h2>Sobre Mim</h2>
                    <p>Do czego tego użyć?
                        Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten
                        chce
                        zobaczyć
                        sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych
                        „kombinacji”
                        zdań, słów
                        i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to
                        „zbyt
                        czytelnie”

                        <br>

                        .de motivações para escolher o seu curso,<br>
                        .daquilo que mais tem gostado de aprender no curso,<br>
                        .de espectativas do que gostaria de fazer quando acabar o curso.<br>
                        .de hobbies


                        <!-- https://fonts.google.com/icons -->


                    </p>
                   <a href="#projetos"><button class="material-symbols-outlined">expand_circle_down</button></a>
                </article>
            </div>
        </div>
        <div  class="projetos">
            <article><h2 id="projetos">Projetos</h2>
                <p>Do czego tego użyć?
                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce
                    zobaczyć
                    sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych „kombinacji”
                    zdań,
                    słów
                    i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to „zbyt
                    czytelnie”
                    po polsku. Wielu webmasterów i designerów używa Lorem Ipsum jako domyślnego modelu tekstu i wpisanie
                    w
                    internetowej wyszukiwarce ‘lorem ipsum’ spowoduje znalezienie bardzo wielu stron, które wciąż są w
                    budowie.
                    Wiele wersji tekstu ewoluowało i zmieniało się przez lata, czasem przez przypadek, czasem specjalnie
                    (humorystyczne wstawki itd).</p>
                      <a href="#web"><button class="material-symbols-outlined">expand_circle_down</button></a>
            </article>
        </div>
    </div>
    <br>
    <div class="contain"><div id="blog"  class="blog">
            <article><h2 >Blog</h2>
                <p>Do czego tego użyć?
                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce
                    zobaczyć
                    sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych „kombinacji”
                    zdań,
                    słów
                    i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to „zbyt
                    czytelnie”
                    po polsku. Wielu webmasterów i designerów używa Lorem Ipsum jako domyślnego modelu tekstu i wpisanie
                    w
                    internetowej wyszukiwarce ‘lorem ipsum’ spowoduje znalezienie bardzo wielu stron, które wciąż są w
                    budowie.
                    Wiele wersji tekstu ewoluowało i zmieniało się przez lata, czasem przez przypadek, czasem specjalnie
                    (humorystyczne wstawki itd).</p>
                <a href="#contacto"><button class="material-symbols-outlined">expand_circle_down</button></a>
            </article>
        </div>
        <div  class="web">
            <article><h2 id="web">Web</h2>
                <p>Do czego tego użyć?
                    Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce
                    zobaczyć
                    sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych „kombinacji”
                    zdań,
                    słów
                    i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to „zbyt
                    czytelnie”
                    po polsku. Wielu webmasterów i designerów używa Lorem Ipsum jako domyślnego modelu tekstu i wpisanie
                    w
                    internetowej wyszukiwarce ‘lorem ipsum’ spowoduje znalezienie bardzo wielu stron, które wciąż są w
                    budowie.
                    Wiele wersji tekstu ewoluowało i zmieniało się przez lata, czasem przez przypadek, czasem specjalnie
                    (humorystyczne wstawki itd).</p>
                <a href="#blog"><button class="material-symbols-outlined">expand_circle_down</button></a>
            </article>
        </div>

    </div>
    <br>
    <div   class="contacto">
        <article><h2 id="contacto">Contacto</h2>
            <p>Do czego tego użyć?
                Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy ten chce
                zobaczyć
                sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma wiele różnych „kombinacji”
                zdań,
                słów
                i akapitów, w przeciwieństwie do zwykłego: „tekst, tekst, tekst”, sprawiającego, że wygląda to „zbyt
                czytelnie”
                po polsku. Wielu webmasterów i designerów używa Lorem Ipsum jako domyślnego modelu tekstu i wpisanie w
                internetowej wyszukiwarce ‘lorem ipsum’ spowoduje znalezienie bardzo wielu stron, które wciąż są w
                budowie.
                Wiele wersji tekstu ewoluowało i zmieniało się przez lata, czasem przez przypadek, czasem specjalnie
                (humorystyczne wstawki itd).</p>
        </article>
    </div>
</div>

{% endblock main %}