<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos.css' %}"/>

    {% block style %}{% endblock style %}


</head>

<body>

<header>
    <nav>
        <h1 class="logo">João Eleutério</h1>
        <ul class="menu">
            <li><a href="{% url 'portfolio:home' %}">Home</a></li>
            <li><a href="">Sobre mim</a>
                <ul>
                    <li><a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a></li>
                    <li><a href="{% url 'portfolio:formacao' %}">Educação</a></li>
                    <li><a href="{% url 'portfolio:certificados' %}">Certificados</a></li>
                    <li><a href="">Outras habilitações</a></li>
                    <li><a href="">Aptidões e competências pessoais</a></li>
                    <li><a href="">Interesses e hobbies</a></li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:projetos' %}">projetos</a></li>
            <li><a href="">Web</a>
                <ul>
                    <li><a href="{% url 'portfolio:sobreWebsite' %}">Sobre este website</a></li>
                    <li><a href="{% url 'portfolio:sobreWebsite' %}">tecnologias existentes</a></li>
                    <li><a href="{% url 'portfolio:sobreWebsite' %}">laboratórios</a></li>
                    <li><a href="{% url 'portfolio:noticia' %}">notícias</a></li>
                    <li><a href="{% url 'portfolio:quizz' %}">Quizz</a></li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
        </ul>
        {% if not user.is_authenticated %}
            <a href="{% url 'portfolio:login' %}" class="btn">Login</a>
        {%else%}
            <a href="{% url 'portfolio:logout' %}" class="btnLogout">Logout</a>
        {% endif %}

    </nav>

</header>


<main>
    {% block main %}

    {% endblock main %}
</main>


<footer>
    <div>
        ULHT - 2022
    </div>
</footer>

</body>
</html>