<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/estilos.css' %}"/>

    {% block style %}{% endblock style %}


</head>

<body>

<header>
    <nav>
        <h1 class="logo">João Eleutério</h1>
        <ul class="menu">
            <li><a href="{% url 'portfolio:home' %}">Home</a></li>

            <li><a>Sobre Mim</a>
                <ul>
                    <li><a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a></li>
                    <li><a href="{% url 'portfolio:formacao' %}">Educação</a></li>
                    <li><a href="{% url 'portfolio:certificados' %}">Certificados</a></li>
                    <li><a href="{% url 'portfolio:competencias' %}">Mais Sobre Mim</a></li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:projetos' %}">projetos</a></li>
            <li><a>Web</a>
                <ul>
                    <li><a href="{% url 'portfolio:sobreWebsite' %}">Sobre este website</a></li>
                    <li><a href="{% url 'portfolio:noticia' %}">notícias</a></li>
                    <li><a href="{% url 'portfolio:quizz' %}">Quizz</a></li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
        </ul>
        {% if not user.is_authenticated %}
        <a href="{% url 'portfolio:login' %}" class="btn">Login</a>
        {%else%}
        <a href="{% url 'portfolio:logout' %}" class="btnLogout">Logout</a>
        {% endif %}

    </nav>

</header>


<main>
    {% block main %}

    {% endblock main %}
</main>


<footer>
    <div class="redesSociais">
        <a href="https://www.instagram.com/joao_._eleuterio/" class="insta"><img src="static/portfolio/images/insta.png" alt="Instagram" width="50px"></a>
        <a href="https://github.com/Joao-Eleuterio" class="git"><img src="static/portfolio/images/git.png" alt="GitHub" width="30px" style="background-color:white;"></a>
        <a href="https://www.linkedin.com/in/jo%C3%A3o-eleut%C3%A9rio-b88508197/" class="linkedin"><img src="static/portfolio/images/linkedin.png" alt="LinkedIn" width="40px"></a>
    </div>
    <div>ULHT - 2022</div>
    <div class="dropup">
        <button style="width:100%;background-color:transparent;color:white;font-size:100%;" id="hour"></button>
        <div class="dropup-content">
            <button onclick="myFunction1()" style="width:100%;background-color:transparent;font-size:100%;">Lisboa
            </button>
            <button onclick="myFunction()" style="width:100%;background-color:transparent;font-size:100%;">America
            </button>
            <button onclick="myFunction2()" style="width:100%;background-color:transparent;font-size:100%;">Japão
            </button>
        </div>
    </div>

</footer>
<script>
const time = document.getElementById('hour'); var DATE;
var d = 0;
let watch = () => {
     switch(d) {
        case 0:
                DATE = new Date();time.innerHTML = DATE.toLocaleTimeString('it-IT', { timeZone: 'Portugal' });
            break;
        case 1:
            DATE = new Date();
            time.innerHTML = DATE.toLocaleTimeString('it-IT', { timeZone: 'America/New_York' });
            break;
        case 2:
             DATE = new Date();
            time.innerHTML = DATE.toLocaleTimeString('it-IT', { timeZone: 'Japan' });
            break;
        default:
            alert('erro');
  }

};
window.addEventListener('load', (event) =>{
    d=0;
});
function myFunction(){d=1;}
function myFunction1(){d=0;}
function myFunction2(){d=2;}

const INTERVAL_ID = setInterval(watch, 1000);



 document.addEventListener('DOMContentLoaded', () => {

            fetch('https://api.ipma.pt/open-data/observation/meteorology/stations/observations.json')
                .then(response => response.json())
                .then(data => {console.log(data)});
        });
</script>
</body>
</html>