{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/noticia.css' %}"/>

{% endblock style %}
{% load static %}
{% block main %}
<form method="post" enctype="multipart/form-data">


    <h1 class="Titulo">Noticias</h1>
    <br>
    <br>
    {% if request.user.is_authenticated %}
    <div class="btnNovaTarefa"><a href="{% url 'portfolio:novaNoticia' %}" class="btn btn-success btn-block">+ Nova
        Noticia</a></div>
    {% endif %}
    <div class="container">

        {%for noticia in noticias %}

        <div class="noticia">
            <h1>{{noticia.titulo}}</h1>
            {%if noticia.imagem.url !=''%}
            <div>
                <img src="{{noticia.imagem.url}}">
            </div>
            {%endif%}
            <div style="margin-left:40%;">
                <p>Descrição: {{noticia.descricao}}</p>
                <br>
                <br>
                Link: {{noticia.link}}
            </div>
        </div>

        {%endfor%}

    </div>

</form>
{% endblock main %}