{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/projeto.css' %}"/>

{% endblock style %}
{% block main %}
<h1 class="titulo">Projetos</h1>
<br>
<div class="aba">


    {%for projeto in projetos%}
    {% if projeto.nome_do_projeto != '.' %}

    <div>
        <a class="modal-open" href="#modal{{projeto.nome_do_projeto}}">

            <div>{% load static %}
                <img src="{{projeto.imagem.url}}" alt=""></div>
            <div><h3>{{projeto.nome_do_projeto}}</h3>
                <p>{{projeto.ano_realizacao}} {% if projeto.linguagens != '' %}|{{projeto.linguagens}}{%endif%}</p>
            </div>
        </a>
        <div class="modal" id="modal{{projeto.nome_do_projeto}}">
            <div class="modal-content">
                <a href="#" class="modal-close" title="Close Modal">X</a>
                <h3>{{projeto.nome_do_projeto}}</h3>
                <div class="modal-area1">

                    <div class="foto">
                        <a>
                            {% load static %}
                            <img src="{{projeto.imagemGrande.url}}" alt="imagem do projeto">
                            <img src="{{projeto.gif.url}}" alt="gif de utilização">
                        </a>
                    </div>
                    <p class="descricao"> {{projeto.descricao}} </p>
                    {% if projeto.cadeira != "." %}
                    <p class="cadeira"> Cadeira:<a href="licenciatura#{{projeto.cadeira}}"> {{projeto.cadeira}} </a></p>
                    {%endif%}

                    <p class="git"><a href="{{projeto.link_github}}">Github do projeto</a></p>
                    <p class="participante"> Participantes: {% for participante in projeto.participantes.all %}
                        {%if participante.nome == 'Sozinho' %}
                        João Eleutério
                        {%else%}
                        , {{participante.nome}}
                        {%endif%}
                        {%endfor%}</p>
                    {% if projeto.linguagens != '' %}
                    <p class="linguagens">Linguagens Usadas: {{projeto.linguagens}}</p>
                    {%endif%}

                    <button>Download</button>
                </div>
            </div>
        </div>
    </div>
    {%endif%}


    {%endfor%}
</div><br><br><h1 class="titulo">Trabalho Final de Curso</h1>

<div class="container">

    {% for tfcs in TFC %}
    <div>
        <div>
            <h3 style="text-align:center;">{{tfcs.titulo}}</h3>

            <br>
            <br>
            {% load static %}
            <img src="{{tfcs.imagem.url}}" alt="" width="300px">

            <br><br>
            <p>
                <span> Resumo: </span>
                {{tfcs.resumo}}
            </p>

            <br>

            <p>Relatório: <a href="{{tfcs.relatorio}}"> Click here </a></p>

            <br>

            <p>Ano de realização:{{tfcs.ano}}</p>

            <br>

            <p>Autores: {{ tfcs.autores }} </p>

            <br>
            Orientadores:
            {% for tfc_orientadores in tfcs.orientadores.all %}
            <p class="tabNomes">{{ tfc_orientadores }} </p>

            {% endfor %}


            <br>

            <p><span> GitHub: <a href="{{tfcs.link_github}}" class="linkGitHub"> Click here </a> </span></p>

        </div>
    </div>
    {% endfor %}
</div>
<h1 class="titulo">Novo TFC</h1>
<div class="containerNova">
    <form action="" method="POST">
        {% csrf_token %}
        {{ formTFC.as_p }}
        <input type="submit" value="Submit" class="btn">
    </form>
</div>

{% endblock main %}