{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/quizz.css' %}"/>

{% endblock style %}
{% load static %}
{% block main %}
<h1 class="titulo">Quizz</h1>
<br>
<br>
<div class="container">


    <div class="quizz   ">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
    {% block section %}
    <div class="graficos">
        <p><img src="grafico:image/png;base64,{{ grafico }}" alt=""></p>
    </div>
</div>


{% endblock %}