{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/sobreWebSite.css' %}"/>

{% endblock style %}
{% block main %}

<h1 class="titulo"> Portfolio João Eleutério </h1><br>
<br>
<div class="container">

    <div id="esteWebSite">

        <h2>Este WebSite</h2><br>
        <p>Este website foi criado no interesse de desenvolver um portefólio pessoal e profissional, mas que, também,
            pode ser consultado por todas as pessoas que o quiserem aceder. <br>
            Feito no âmbito da cadeira de Programação de Web, este site foi criado com o objetivo de reunir todo o meu
            percurso académico, apresentando todo o processo, trabalhos e projetos que fiz até à data. Sendo estes
            atualizados segundo o aparecimento de mais conteúdo. <br>
            É uma ferramenta de pesquisa para quem queira seguir o mesmo caminho que eu, no curso de engenharia
            informática, e, para mim, como futuro trabalhador nesta área, pois é uma maneira mais prática de mostrar
            tudo o que eu tenho para oferecer no que diz respeito a empenho, desenvolvimento e ideias.</p>
    </div>

    <div id="tecnologias">
        <div>
            <h2>Tecnologias utilizadas</h2><br>
            {%for tecnologia in tecnologias %}
            <div><img src="{{tecnologia.logotipo.url}}" class="imgTec">
                <h2>{{tecnologia.nome}} {% if tecnologia.acronimo != '.'%} - {{tecnologia.acronimo}}{%endif%}</h2>
                <p>{{tecnologia.descricao}}</p>
                {% if tecnologia.link != ''%}<p>Link: <a href="{{tecnologia.link}}">{{tecnologia.link}}</a></p>{%endif%}
                <p>Criador:{{tecnologia.criador}}</p>
                <p>Criado:{{tecnologia.ano_criacao}}</p>
            </div>
            {%endfor%}
        </div>

    </div>
    <br>
    <br>
    <div id="labs">
        <h2>Laboratórios</h2><br>
        <p>Os laboratórios é ao que chamamos os trabalhos e exercícios feitos em aula. Ou seja, são meios e ferramentas
            que usamos para desenvolver o crescimento do nosso saber na matéria e na execução do projeto. Podem ser
            fichas, testes ou exercícios, mas todos estes elementos ajudam no bom progresso. Seja em informática ou
            noutros campos, a ideia de refletir e desenvolver pensamentos na execução de exercícios sobre os mesmos é
            sempre uma mais valia no nosso crescimento profissional.</p>
        <form action="https://github.com/Joao-Eleuterio/pw-labs-JoaoEleuterio-a22007237">
            <button type="submit">Labs</button>
        </form>

    </div>
</div>
{% if user.is_authenticated %}
<div id="diagrama">
    <h2>Diagrama</h2><br><br><br>
    {% load static %}

    <img src="static/portfolio/images/Diagrama_DER.drawio" alt="ERROR" width="100%" height="auto"
         style="margin-bottom:10%;">
</div>
{% endif %}


<h1 align="left" style=" font-size:250%;margin-left:5%;">Api's</h1>
<br><br>
{% if user.is_authenticated %}
<div class="btnRandomFact">
    <button class="btn" onclick="randomfact()">Random Fact</button>
    <div class="randomFact1">
        <p id="randomFact" style="color:black;text-align:center;"></p>
    </div>
</div>

<br>
<br>
<br>{% endif %}
<div class="container-fluid p-0 container-sm d-flex justify-content-center">
    <div class="card text-center shadow-lg" style="width: 26rem;">
        <div class="card-header bg-white text-dark font-weight-bold">
            TEMPO E TEMPERATURA
        </div>
        <div class="card-body">
            <div class="city">Cidade Exemplo, BR</div>
            <div class="date">Terça, 1 Dezembro 2020</div>
            <div class="container-img">
                <img src='static/portfolio/images/icons/unknown.png'>
            </div>
            <div class="container-temp mx-4 my-3">
                <div>22</div>
                <span>°c</span>
            </div>
            <div class="weather py-2">Nublado</div>
            <div class="low-high">22°c / 23°c</div>
        </div>

        <div class="card-footer bg-white">
            <div class="input-group ">
                <input type="text" class="form-control bg-light" placeholder="digite o nome da cidade"
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-warning text-dark" type="button" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>


<script>
//----------------------------------------------------------------------------------------
//METEOROLOGIA
const api = {
    key: "64ed82577ced7f69cb1687f0ce536131",
    base: "https://api.openweathermap.org/data/2.5/",
    lang: "pt_br",
    units: "metric"
}

const city = document.querySelector('.city')
const date = document.querySelector('.date');
const container_img = document.querySelector('.container-img');
const container_temp = document.querySelector('.container-temp');
const temp_number = document.querySelector('.container-temp div');
const temp_unit = document.querySelector('.container-temp span');
const weather_t = document.querySelector('.weather');
const search_input = document.querySelector('.form-control');
const search_button = document.querySelector('.btn');
const low_high = document.querySelector('.low-high');

window.addEventListener('load', () => {
    //if ("geolocation" in navigator)
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(setPosition, showError);
    }
    else {
        alert('navegador não suporta geolozalicação');
    }
    function setPosition(position) {
        console.log(position)
        let lat = position.coords.latitude;
        let long = position.coords.longitude;
        coordResults(lat, long);
    }
    function showError(error) {
        console.log(`erro: ${error.message}`);
    }
})

function coordResults(lat, long) {
    fetch(`${api.base}weather?lat=${lat}&lon=${long}&lang=${api.lang}&units=${api.units}&APPID=${api.key}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`http error: status ${response.status}`)
            }
            return response.json();
        })
        .catch(error => {
            console.log(error.message)
        })
        .then(response => {
            displayResults(response)
        });
}

search_button.addEventListener('click', function() {
    searchResults(search_input.value)
})

search_input.addEventListener('keypress', enter)
function enter(event) {
    key = event.keyCode
    if (key === 13) {
        searchResults(search_input.value)
    }
}

function searchResults(city) {
    fetch(`${api.base}weather?q=${city}&lang=${api.lang}&units=${api.units}&APPID=${api.key}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`http error: status ${response.status}`)
            }
            return response.json();
        })
        .catch(error => {
            console.log(error.message)
        })
        .then(response => {
            displayResults(response)
        });
}

function displayResults(weather) {
    console.log(weather)

    city.innerText = `${weather.name}, ${weather.sys.country}`;

    let now = new Date();
    date.innerText = dateBuilder(now);

    let iconName = weather.weather[0].icon;
    container_img.innerHTML = `<img src='static/portfolio/images/icons/${iconName}.png'>`;

    let temperature = `${Math.round(weather.main.temp)}`
    temp_number.innerHTML = temperature;
    temp_unit.innerHTML = `°c`;

    weather_tempo = weather.weather[0].description;
    weather_t.innerText = capitalizeFirstLetter(weather_tempo)

    low_high.innerText = `${Math.round(weather.main.temp_min)}°c / ${Math.round(weather.main.temp_max)}°c`;
}

function dateBuilder(d) {
    let days = ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];
    let months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julio", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];

    let day = days[d.getDay()]; //getDay: 0-6
    let date = d.getDate();
    let month = months[d.getMonth()];
    let year = d.getFullYear();

    return `${day}, ${date} ${month} ${year}`;
}

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
//----------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------
//RANDOM FACT
function randomfact() {
       const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '5bdbd934ecmsh3378c349e24bf99p184329jsn594fa8f757cf',
		'X-RapidAPI-Host': 'random-facts2.p.rapidapi.com'
	}
};

fetch('https://random-facts2.p.rapidapi.com/getfact', options)
        .then(response => response.json())
        .then(data => {document.getElementById('randomFact').innerHTML = String(data.Fact);});
}
//----------------------------------------------------------------------------------------



</script>
<script src="https://kit.fontawesome.com/f0e17cbf2f.js" crossorigin="anonymous"></script>


{% endblock main %}