{% extends 'portfolio/layout.html' %}

{% block style %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/sobreWebSite.css' %}"/>

{% endblock style %}
{% block main %}

<h1 class="titulo"> Portfolio João Eleutério </h1><br>
<br>
<div class="container">

    <div id="esteWebSite">

        <h2>Este WebSite</h2><br>
        <p>Este website foi criado no ambito da cadeira de Programacao web e será utilizado no futuro como meu portfolio
            pessoal<br><br><br>Escrever aqui</p>
    </div>
    <br>
    <br>
    <div id="tecnologias">
        <div>
            <h2>Tecnologias utilizadas</h2><br>
            {%for tecnologia in tecnologias %}
            <div><h2>{{tecnologia.nome}} </h2>
                <p>{{tecnologia.descricao}}</p>
                <img src="{{tecnologia.Logotipo.url}}">
            </div>
            {%endfor%}
        </div>

    </div>
    <br>
    <br>
    <div id="labs">
        <h2>Laboratórios</h2><br>
        <p>Estes laboratórios ajudaram muitos na criação deste website<br><br><br>Escrever aqui</p>
        <form action="https://github.com/Joao-Eleuterio/pw-labs-JoaoEleuterio-a22007237">
            <button type="submit">Labs</button>
        </form>

    </div>
      {% if user.is_authenticated %}
    <div id="diagrama">
        <h2>Diagrama</h2><br><br><br>
        {% load static %}
        <img src="../static/portfolio/images/Diagrama_DER.drawio" alt="" width="100%" height="auto"
             style="margin-bottom:10%;">
    </div>
    {% endif %}

</div>

{% endblock main %}