
body{background-color: rgb(230, 230, 230);}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.post{ width: 85%; word-wrap: break-word; float:left; }

.container > div{height:200px;
  width:70%;
  padding:1%;
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 5px 15px grey;border-radius: 10px;
  box-shadow: 5px 5px 15px grey;

}


.btnNovaTarefa{
margin-top:1%;
float:right;
}

.btnEditar{float:right;
    background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    margin-left: auto;

}
.btnApagar{float:right;
    background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    margin-left: auto;
    margin-top:3%;
}

.titulo{
  text-align:center;font-size:250%;
   background-color:  rgb(30, 133, 255);
 color:white;  }
