*{
    padding: 0;
    margin: 0;
    font-family: 'Secular One', sans-serif;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 3%;
    padding-right:3%;
    height: 10vh;
    background-image: url("../images/ai_hero.jpg");
    font-size: 1.2em;
}

.logo {
    color: white;
    font-size: 200%;
    letter-spacing: 1px;
}


.btn{
    background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .7s;
}



footer {
    position: fixed;
    padding: 15px 10px 0px 10px;
    bottom: 0px;
    width:100%;
    height: 1.5%;
    background-image: url("../images/ai_hero.jpg");
    background-size:50%;
    color: white;
    font-weight: bold;
}

footer div{position:absolute;}
footer div:nth-child(2){
position:relative;
    bottom:60%;
    margin-left: 46%;
    margin-right: 45%;
}
footer div:nth-child(3){position:relative;
    bottom:257%;
font-size:120%;  margin-left: 93%; color:white;
}

.redesSociais{position:absolute;}
.insta{position:relative;
    bottom:28px;}
.git{position:relative;
    bottom:25px;}
.linkedin{position:relative;
    bottom:20px;}
header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
}

nav ul li {
    list-style-type: none;
    align:center;
    padding: 10px 25px;
    display: inline-block;
}
@keyframes my-animation {
  from {
    background-color:  black;
  }
  to {
   background-color:  rgb(30, 133, 255);
   }
}
nav ul li:hover {
  animation-name: my-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-radius: 10% 10% 0% 0%;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-tranform: capitalize;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}

nav ul li{
position:relative;
float:left;
}
nav ul li ul li a{
color:black;
}

/* aba quando esta selecionado um objeto no menu */
nav ul li  ul{
position:absolute;
top:100%;
left:0;
background-color:white;
display:none;

}
nav ul li:hover ul{ display:block; }
nav ul li ul li:hover{
 background-color:  rgb(30, 133, 255); border-radius:0%;}
nav ul ul li{
border:2px solid black;
border-top:0px;
width:150px;
}
/*-------------------------------------------*/


.btnLogout{
    background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .7s;
}






.dropup {
  position: relative;
}

.dropup-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  top:-130px;
  right:100px;

}

.dropup-content a {

  color: black;
  text-decoration: none;
  display: block;
}


.dropup:hover .dropup-content {
  display: block;
}
