
* {
  position:relative;

  text-decoration: none;
}

body {

  font-family: 'Cantarell', sans-serif;

  background-color: rgb(230, 230, 230);
  color:#424242;
}
p { margin-bottom:0.5em;}

/* e aqui que tem a parte de tras */
a.modal-open {

  display:flex;
  padding:5%;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  height:auto;
  background:white;
 border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
}
a.modal-open div:last-child  {
    margin-left:20%;
    margin-top:10%;
    font-size:auto; max-width:200%;
    color:black;
}
a.modal-open div img{
 height:auto;
 width:auto;
 float: left;
}
   a >img:last-child {
	  display: none;
	}
	 a:hover >img:last-child {
	  width:500px;
	  height:400px;
	  display:block;
	}
	 a:hover >img:first-child {
	  display: none;
    }
.modal {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  bottom:0px;
  transition:all .5s ease-in-out;
  opacity:0;
  z-index:-1;
  background:rgba(0,0,0,0.7);
  }

.modal:target {
  opacity:1;
  transition:all .5s ease-in-out;
  z-index:+1;
}

.modal-content {
  position:fixed;
  top:50%;
  left:50%;
  width:auto;
  background-color:white;
  border-radius:4px;
  transform:translate(-50%, -200%);
  opacity:10%;
}

.modal-content img{
width:auto; max-width:500px;
height:auto;
float:left;
}
.descricao{
 text-align:justify;
 padding:2%;
 margin-left:52%;
}
.git, .cadeira, .linguagens, .participante{margin-left:55%;}

.modal:target .modal-content {
  transform:translate(-50%, -50%);
  transition:all .5s ease-in-out;
  transition-delay:.5s;
  opacity:1;
}

button{
float:right;
margin-right:5%;
margin-bottom:2%;
}

.modal-content h3 {
  padding:20px;
  display:block;
  text-align:center;
  border-bottom:1px solid #e0e0e0;
  text-transform:uppercase;
   background-color:  rgb(30, 133, 255);
  color:#fff;
  border-radius:4px 4px 0 0;
}

.modal-close {
  float:right;
  text-decoration:none;
  padding:22px 22px;
  color:#424242;
  font-weight:800;
  transition:all .5s ease-in-out;
  z-index:+1;
  background-color:  rgb(40, 143, 255);
  text-align:center;
  border-radius:0 4px 0 0;
}
.modal-close:hover {
  color:#fff;
  background:rgba(0,0,0,0.5);
}


.aba{
display:grid;
grid-template-columns:1fr 1fr ;
margin-bottom:2%;
margin-top:2%;

gap:20px;

}



.titulo{
  text-align:center;font-size:250%;
   background-color:  rgb(30, 133, 255);
 color:white;  }


.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.container div  div {
  float:left;

  height:auto; min-height:250px;
  padding:2%;
  margin: 0.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey; margin-bottom:60px;
}

.container div{ padding:4%; width:75%;margin-bottom:-5%;
}


img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;}
p{word-wrap: break-word;}



.containerNova{
  width:70%;height:100%;
  padding:2%;
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 5px 15px grey;

}