main{
margin-top:7%;}

.container{
  width:70%;height:100%;
  padding:2%;
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 5px 15px grey;

}



h3{
 text-align:center;}

.btnCancelar , .btnGravar{
 background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border:1px
    padding: 10px;
    border-radius: 30px;
}