.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.container div{
  height:auto; min-height:250px;
  padding:2%;
  margin:2%;
  width:50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
  text-align:center;
  margin-left:23%;
}

.titulo{
 background-color:  rgb(30, 133, 255);
 color:white;  text-align:center;
 font-size:250%;
}
