.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size:120%;

}
.titulo{
 background-color:  rgb(30, 133, 255);
 color:white;  text-align:center;
 font-size:250%;
}


#esteWebSite{margin-bottom:10%;
margin-left:5%;
}
p{margin-left:5%;}



#tecnologias{margin-bottom:10%;
margin-left:5%;
}
#tecnologias div{
margin-left:auto;
margin-right:auto;}

#tecnologias div div{
float:left;
text-align:center;
  width:25%;
  height:auto; min-height:250px;
  padding:2%;
  margin: 0.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey; margin-bottom:60px;
}


#labs{
margin-left:5%;margin-bottom:10%;}
#labs button{
    margin-left:40%;
    font-size:120%;
    background-color:  rgb(30, 133, 255);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 2% 5%;
    border-radius: 30px;
    transition: transform .7s;
    margin-bottom:5%;
}



#tecnicas{margin-left:5%; margin-bottom:10%;}
#diagrama{margin-left:5%;}









@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arvo', serif;
}

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: rgba(244, 208, 63, 0.2);
    box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;

    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}