.container {
    display: grid;
    flex-flow: row wrap;
    justify-content: center;

    grid-template-columns:1fr 1fr ;
    margin-bottom:2%;
    margin-top:2%;
    margin-left:10%;
    margin-right:10%;
    gap:20px;


}
.noticia{
   float:left;

  height:auto; min-height:250px;
  padding:2%;
  margin: 0.5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey; margin-bottom:60px;

}

img{float:left;


}


.Titulo{
  text-align:center;font-size:250%;
   background-color:  rgb(30, 133, 255);
 color:white;  }
